body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}
